- if @form.errors.present?
  - @form.errors.full_messages.each do |message|
    = message

= current_user.try(:name)
= form_with url: order_path, method: :post, local: true do |f|
  = f.hidden_field :collect_method, value: @form.collect_method
  %br
  = f.text_area :start_message, value: @form.start_message, rows: 2, maxlength: 135
  %br
  = f.text_area :finish_message, value: @form.finish_message, rows: 2, maxlength: 135
  %br
  = f.label :protect_reply
  = f.check_box :protect_reply, checked: false
  %br
  = f.label :protect_favorite
  = f.check_box :protect_favorite, checked: false
  %br
  = f.text_field :collect_from
  %br
  = f.text_field :collect_to
  %br
  = f.submit '削除を開始する'


