- content_for :page_scripts do
  = render 'application/adsense/page_level_ads'

- content_for :scripts do
  :javascript
    var progressbar = function() {
      $.ajax({
        type: "GET",
        url: "#{progressbar_order_path}",
        success: function(response) {
          $('#progressbar').html(response);
        }
      });
    };
    setInterval(progressbar, 10000);

#content.blog.bg-dark
  #status
    %article.post.format-aside
      = flash_messages
      .wrapped-content
        = render 'orders/components/progressbar', order: @order
        .text-center(style='margin-top:15px;')
          = link_to 'show more status', {}, 'data-remodal-target': 'modal'
      %hr.no-margin
      .wrapped-content.text-center
        = render partial: 'application/adsense/rectangle'
  .primary-button.text-center(style='margin:8px')
    #operation
      = link_to('キャンセル', abort_order_path, method: :patch, class: 'button radius alert', disabled: @order.confirming?)
      = link_to('結果を見る', confirm_order_path, method: :patch, class: 'button radius', disabled: @order.processing?)

= render 'orders/components/status_dialog', order: @order
